.main-card-container {
    position: relative;
    width: 300px;
    margin: 20px auto;
    transition: all 0.4s ease-in-out;
}

.main-card {
    background: whitesmoke;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.4s ease-in-out;
}

.main-card:hover {
    background-color: #FFE87C;
    cursor: pointer;
}

.main-card-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-card-item h3 {
    font-size: 1.2em;
    margin: 0;
    color: #333;
}

.main-card-item p {
    font-size: 1.5em;
    margin: 5px 0 0;
    color: #555;
}

.secondary-card {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: height 0.4s ease-in-out, padding 0.4s ease-in-out;
    padding: 0;
}

.secondary-card.expanded {
    height: 250px;
    padding: 20px;
}

.secondary-card h3 {
    font-size: 1.2em;
    margin: 0 0 10px;
    color: #374151;
}

.secondary-card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.secondary-card.expanded .secondary-card-content {
    opacity: 1;
}

.secondary-card-section h4 {
    font-size: 1em;
    margin: 0 0 5px;
    color: #444;
}

.secondary-card-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.secondary-card-section ul li {
    font-size: 0.9em;
    color: #555;
}

.secondary-card .range {
    position: relative;
    background-color: #E5E7EB;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem;
}

.secondary-card .range .fill {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #10B981;
    width: 76%;
    height: 100%;
    border-radius: 0.25rem;
}
