.sub-card {
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    max-width: 300px;
    margin: 1em;
}

.title {
    display: flex;
    align-items: center;
}

.title span {
    padding: 0.5rem;
    background-color: #10B981;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.title-text {
    margin-left: 0.5rem;
    color: #374151;
    font-size: 1.2em;
}

.data {
    text-align: left;
    margin-top: 0.5em;
}

.data p {
    color: #1F2937;
    font-size: 1.5em;
    font-weight: bold;
}

.details {
    font-size: 0.9em;
    color: #6B7280;
}
